
.vs/Sora/DesignTimeBuild/.dtbcache
.vs/Sora/v15/.suo
.vs/Sora/v15/Server/sqlite3/db.lock
*.ide
*.ide-shm
*.ide-wal
bin/Debug/netcoreapp2.0/config.json
bin/Debug/netcoreapp2.0/log.txt
bin/Debug/netcoreapp2.0/Sora.deps.json
bin/Debug/netcoreapp2.0/Sora.dll
bin/Debug/netcoreapp2.0/Sora.pdb
bin/Debug/netcoreapp2.0/Sora.runtimeconfig.json
bin/Debug/netcoreapp2.0/Sora.runtimeconfig.dev.json
obj/Sora.csproj.nuget.g.targets
obj/Sora.csproj.nuget.cache
obj/Sora.csproj.nuget.g.props
obj/Debug/netcoreapp2.0/Sora.pdb
obj/Debug/netcoreapp2.0/Sora.dll
obj/Debug/netcoreapp2.0/Sora.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.0/Sora.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.0/Sora.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.0/Sora.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.0/Sora.AssemblyInfo.cs
